# Core dependencies
monai
matplotlib
scikit-image
SimpleITK>=2.2.1
nibabel
tqdm
scipy
ipympl
opencv-python
jupyterlab
ipywidgets

# Optional dependencies
pycocotools
onnx
onnxruntime

# Development dependencies
flake8
isort
black
mypy

# Additional dependencies for vmunet
torch==1.13.0
torchvision==0.14.0
torchaudio==0.13.0
packaging
timm==0.4.12
pytest
chardet
yacs
termcolor
submitit
tensorboardX
triton==2.0.0
causal_conv1d==1.0.0
mamba_ssm==1.0.1
scikit-learn
thop
h5py
medpy